<div class="left-col-section">
    <h3 class="section-title text-uppercase">
        <span class="section-title-line"></span>
        EDUCATION<span class="section-underline">_</span>
    </h3>

    <div class="row text-light education-text">
        <div class="col-md-6 mb-4">
            <p class="education-item-title">ENTER YOUR MAJOR</p>
            <p>Name Of Your University</p>
            <p>2005–2009</p>
        </div>
        <div class="col-md-6 mb-4">
            <p class="education-item-title">ENTER YOUR MAJOR</p>
            <p>Name Of Your University</p>
            <p>2009–2011</p>
        </div>
    </div>
</div>

<div class="left-col-section">
    <h3 class="section-title text-uppercase">
        <span class="section-title-line"></span>
        EXPERIENCE<span class="section-underline">_</span>
    </h3>

    <article class="exp-item mb-4 experience-text">
        <h6 class="fw-bold">Enter Job Position Here</h6>
        <span class="badge">Present</span>
        <span class="location">Message Company Name / Location</span>
        <p class="description">Lorem ipsum dolor sit amet, this is a thema consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </article>

    <article class="exp-item mb-4 experience-text">
        <h6 class="fw-bold">Enter Job Position Here</h6>
        <span class="badge">2017-2011</span>
        <span class="location">Company Name / Location</span>
        <p class="description">Lorem ipsum dolor sit amet, this is a thema consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </article>
</div>

<div class="left-col-section">
    <h3 class="section-title text-uppercase">
        <span class="section-title-line"></span>
        EXPERTISE<span class="section-underline">_</span>
    </h3>

    <div class="d-flex justify-content-between flex-wrap mt-4 expertise-container">
        <div class="expertise-item">
            <div class="expertise-circle ps mb-2">
                <svg viewBox="0 0 85 85">
                    <circle class="circle-track" cx="42.5" cy="42.5" r="36"></circle>
                    <circle class="circle-progress" cx="42.5" cy="42.5" r="36"></circle>
                </svg>
                <span class="fw-bold">Adobe<br>Photoshop</span>
            </div>
        </div>
        <div class="expertise-item">
            <div class="expertise-circle ai mb-2">
                <svg viewBox="0 0 85 85">
                    <circle class="circle-track" cx="42.5" cy="42.5" r="36"></circle>
                    <circle class="circle-progress" cx="42.5" cy="42.5" r="36"></circle>
                </svg>
                <span class="fw-bold">Adobe<br>Illustrator</span>
            </div>
        </div>
        <div class="expertise-item">
            <div class="expertise-circle id mb-2">
                <svg viewBox="0 0 85 85">
                    <circle class="circle-track" cx="42.5" cy="42.5" r="36"></circle>
                    <circle class="circle-progress" cx="42.5" cy="42.5" r="36"></circle>
                </svg>
                <span class="fw-bold">Adobe<br>Indesign</span>
            </div>
        </div>
        <div class="expertise-item">
            <div class="expertise-circle pp mb-2">
                <svg viewBox="0 0 85 85">
                    <circle class="circle-track" cx="42.5" cy="42.5" r="36"></circle>
                    <circle class="circle-progress" cx="42.5" cy="42.5" r="36"></circle>
                </svg>
                <span class="fw-bold">Figma<br>Sketch</span>
            </div>
        </div>
    </div>
</div>